{% extends 'pages/infoblock.html' %}
<div class="row">
<h6>Delete Member</h6>
    <div class="col-md-8">
        <p class="lead">
        {% if content['member_id'] == member['id'] %}
        Are you sure you want to delete your Membership from the Group?
        {% else %}
        Are you sure you want to delete this Member from the Group?  REALLY sure?
        {% endif %}
        </p>
        <p>All of its associated information will get deleted with it, so be careful...</p>
    </div>
    <div class="col-md-4">
        Signature: <input type="text" name="signature">
    <a href=" {{ url_for('delete_member') }}" type="button" class="btn btn-block btn-danger">Delete Member</a>
    </div>

</div>
