{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class='jumbotron' id='frontpage-intro' style="margin-top: 2%">
    <h1 style='text-align: center; margin-bottom:5%'>GroupBot</h1>
    <img src='../static/img/png/groupbot - pleased to meet ya.png' style='margin-left:30%;margin-right:auto'>
    <h2 style='text-align:center;'>GroupBot is an Online Group Organizer.  It makes your life a little easier.</h2>

    <h2 style='text-align:center'>It's also under construction right now.  See you soon!</h2>
</div>

<!--<p class='lead'>GroupBot puts all of the minutiae for each group in one place.  Whether it's a study group, a living group,-->
<!--or anything in between, GroupBot can make management simpler.</p>-->
<!--<p>When you make a <strong>Group</strong>, you can add <strong>Members</strong>.  Those Members can have <strong>Roles</strong>-->
<!--(like President, Secretary, or Brother).</p>-->
<!--<p>Roles simplify running your group by putting all of the related information in one place that stays the same when the-->
<!--person performing the Role changes.  After the next President is elected, they step into the Role and use or build on the-->
<!--documentation created by the Member before them.</p>-->
<!--<p>Members can create and assign each other <strong>Tasks</strong>.  They can also create <strong>Events</strong>, as well-->
 <!--as invite people, RSVP, and take attendance.</p>-->
{% endblock %}
