{% extends 'layouts/main.html' %}
{% block title %}{% thing.name %}{% endblock %}
{% block content %}
<div class='col-lg-3' id='info-nav'>
    <a href="{{ url_for(infonav['parent']['view'] }}"><h4 id='parent-page-name'> {{ infonav['parent']['name'] }} </h4></a>
    <ul class="nav nav-pills nav-stacked">
        {% for page in infonav['pages'] %}
            <!-- This control loop here is just for active vs. inactive page.  Pretty inefficient. -->
            {% if page['name'] == infopage['name'] %}
                {% if page['children'] is defined %}
                    <li class='active dropdown'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='#'>
                            {{ page['name'] }} <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu' role='menu'>
                            {% for pagechild in page['children'] %}
                                {% if pagechild['args'] is defined %}
                                <li><a href="{{ url_for(pagechild['view'], **pagechild['args']) }}">{{ pagechild['name'] }}</a></li>
                                {% else %}
                                <li><a href="{{ url_for(pagechild['view']) }}">{{ pagechild['name'] }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="active"><a href="{{ url_for(page['view']) }}">{{ page['name'] }}</a></li>
                {% end %}

            {% else %}
                {% if page['children'] is defined %}
                    <li class='dropdown'>
                        <a class='dropdown-toggle' data-toggle='dropdown' href='{{ url_for(page["view"]) }}'>
                            {{ page['name'] }} <span class='caret'></span>
                        </a>
                        <ul class='dropdown-menu' role='menu'>
                            {% for pagechild in page['children'] %}
                                {% if pagechild['args'] is defined %}
                                <li><a href="{{ url_for(pagechild['view'], **pagechild['args']) }}">{{ pagechild['name'] }}</a></li>
                                {% else %}
                                <li><a href="{{ url_for(pagechild['view']) }}">{{ pagechild['name'] }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for(page['view']) }">{{ page['name'] }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class='col-lg-9' id='info-blockspace'>
    <!-- <h3>{{ infopage['name'] }}</h3>
    <p>{{ infopage['description'] }}</p>
    <br>
    {% for infoblock in infopage['main_infoblocks'] %}
        {% set template = 'infoblock.html' %} {% include template %}
    {% endfor %}
    {% for infoblock in infopage['user_infoblocks'] %}
        {% set template = 'infoblock.html' %} {% include template %}
    {% endfor %} -->
    {% block infocontent %}
    {% endblock %}
</div>


{% endblock %}
