 {% extends 'pages/infopage.html' %}

{% block infocontent %}
<div class='row'>
    <h3>All Tasks</h3>
        {% for task in content['tasks'] %}
            <div class='col-md-4'>
            <div class="row">
                <div class='col-md-6'>
                    <a href="{{ url_for(views.tasks.task_detail, group_codename=content['groupname'], task_id=task['id']) }}">
                        <h5>{{ task['name'] }}</h5>
                    </a>
                    <p>Assigned to:</p>
                    <ul>
                    {% for member in task['delivering_members'] %}
                        <li><a href="{{ url_for(views.member.member_detail, group_codename=content['groupname'], member_codename=member['codename']) }}">
                            {{ member['realname'] }}
                        </a></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class='col-md-6'>
                    <p>Due at: {{ task['deadline'] }}</p>
                    <p>
                        {% if task['delivered'] == True %}
                        <span class='label label-success'>Delivered</span>
                        {% elsif task['late'] == False %}
                        <span class='label label-info'>Not Delivered</span>
                        {% else %}
                        <span class='label label-danger'>Still Not Delivered!</span>
                        {% endif %}

                        {% if task['approved'] == True %}
                        <span class='label label-success'>Approved</span>
                        {% else %}
                        <span class='label label-info'>Not Approved</span>
                        {% endif %}
                    </p>
                </div>
            </div>
            </div>
        {% endfor %}
</div>
{% endblock %}