{% extends 'pages/infopage.html' %}

{% block infocontent %}
<div class='row'>
    <p class='lead'>Yikes, I guess this one isn't gonna work out.  Gonna have to cancel the Event, huh?</p>
    <p>Just making sure -- you're *positive* you want to delete {{ content['event_name'] }}, right?
        There is no undelete!</p>
    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        {{ form.delete }}
        <input type="submit" value="Yup, I've made my choice.">
    </form>
</div>
{% endblock %}