{% extends 'pages/infopage.html' %}

{% block infocontent %}
<div class="row">
    <h4>{{ content['group_name'] }}</h4>
    <a type="button" class="btn btn-default" href="{{url_for(views.group.group_edit, group_code_name=content['group_code_name'])}}">Edit Group</a>
</div>
<div class="row">
    <p>{{ content['group_byline'] }}</p>
</div>
<div class='row'>
    <div class='col-md-6' id='task_list'>
        <h5>Upcoming Tasks</h5>
        {% for task in content['tasks'] %}
            <div class='row'>
                <div class='col-md-8'>
                    <h6><a href="{{ url_for(views.task.task_detail, task_id=task['task_id']) }}">{{ task['name'] }}</a></h6>
                    <p>{{ task['description'] }}</p>
                </div>
                <div class='col-md-4'>
                    <p>Deadline: {{ task['deadline'] }}</p>
                    {% if task['delivered'] == True %}
                        <span class='label label-success'>Delivered!</span>
                    {% else %}
                        <span class='label label-info'>Not Yet Delivered...</span>
                    {% end %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class='col-md-6' id='event_list'>
        <h5>Upcoming Events</h5>
        {% for event in content['events'] %}
            <div class='row'>
                <div class='col-md-8'>
                    <h6><a href="{{ url_for(views.event.event_detail, event_id=event['event_id']) }}">{{ event['name'] }}</a></h6>
                    <p>{{ event['description'] }}</p>
                </div>
                <div class='col-md-4'>
                    <p>Starting at: {{ event['start_time']) }}</p>
                    <p>& Ending at: {{ event['end_time'] }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class='row'>
    <div id='member_list'>
        <h5>Members</h5>
        {% for member in content['members'])) %}
            <div class='col-md-4'>
                <h6><a href="">{{ member['name'] }}</a></h6>
                <img src="{{ member['photo'] }}">
                {% for role in member['roles'] %}
                    <p><a href="{{ url_for(views.role.role_detail, role_id=role['role_id']) }}">{{ role['name'] }}</a></p>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}