{% extends 'pages/infoblock.html' %}
<div class='row'>
    <div class='col-md-8'>
        <h6>{{ task['name'] }}</h6>
        <p>{{ task['description'] }}</p>
        <p>{{ task['comments'] }}</p>
    </div>
    <div class='col-md-4'>
        <p>Deadline: {{ str(task['deadline']) }}</p>
        <p>Deliverable: {{ str(task['deliverable'] }}</p>
        <div class='col-md-2'>
            {% if task['delivered'] == True %}
                <span class='label label-success'>Delivered!</span>
            {% elsif task['late'] == True %}
                <span class='label label-danger'>Still Not Delivered :(</span>
            {% else %}
                <span class='label label-info'>Not Delivered(</span>
            {% endif %}
        </div>
        <div class='col-md-2'>
            {% if task['approved'] == True %}
            <span class='label label-success'>Approved!</span>
            {% else %}
            <span class='label label-info'>Not Approved :(</span>
            {% endif %}
        </div>
        {% if task[doing_member_id] == member[member_id] %}
            <a type='button' class='button btn btn-block' href='{{ url_for(deliver_task, task["id"]) }}'>Deliver Task</a>
        {% elsif task[giving_member_id] == member[member_id] %}
            <a type='button' class='button btn btn-block' href='{{ url_for(approve_task, task["id"]) }}'>Deliver Task</a>
        {% endif %}
    </div>
</div>